html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

body {
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 0.2rem;
}

.header__title {
  font-size: calc(32px + 8 * (100vw - 375px) / 1225);
  font-weight: 700;
  line-height: 5.818rem;
}

.form__title {
  font-size: 1.7rem;
  font-weight: 700;
  color: #D64200;
}

.form__title_secondary {
  color: #000000;
  font-weight: 400;
  padding: 0;
}

.btn-file__title {
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: -0.041rem;
  align-self: center;
}

.sliderbox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "area value" "range range";
  gap: 4rem;
}

.form__title_area {
  grid-area: area;
  align-self: center;
}

.range {
  -webkit-appearance: none;
  outline: none;
  height: 0.2rem;
  width: 100%;
  background-color: #B8B6BF;
  border-radius: 1.5rem;
  grid-area: range;
}

.range::-webkit-slider-thumb {
  height: 2.5rem;
  width: 2.5rem;
  background-color: #ffffff;
  -webkit-appearance: none;
  border-radius: 50%;
  border: 0.1rem solid #b8b6bf;
  cursor: pointer;
  outline: none;
}

.range::-moz-range-thumb {
  height: 2.5rem;
  width: 2.5rem;
  background-color: #ffffff;
  -webkit-appearance: none;
  border-radius: 50%;
  border: 0.1rem solid #B8B6BF;
  cursor: pointer;
  outline: none;
}

.value {
  width: 9.4rem;
  height: 4.2rem;
  font-size: 1.7rem;
  font-weight: 400;
  background-color: #D64200;
  padding-top: 1.2rem;
  text-align: center;
  border-radius: 1rem;
  color: #ffffff;
  justify-self: end;
  grid-area: value;
}

.btn-file {
  display: none;
}

.btn-uploud {
  align-self: end;
  width: 19.7rem;
  height: 4.4rem;
  background: #77767E;
  box-shadow: 0 1rem 1rem 0 #b8b8bb;
  border-radius: 1.5rem;
  font-size: 1.7rem;
  color: #ffffff;
  cursor: pointer;
  display: grid;
  align-content: center;
  text-align: center;
}

.button {
  display: grid;
  justify-content: end;
}

.form__btn {
  width: 33.6rem;
  height: 6.6rem;
  outline: none;
  border: 0.1rem solid #EA5E32;
  border-radius: 1.5rem;
  background: #ffffff;
  font-size: 1.7rem;
  font-weight: 400;
  color: #EA5E32;
  cursor: pointer;
}
.form__btn:hover {
  color: #ffffff;
  background: #EA5E32;
}

.gender-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.checkbox {
  justify-self: end;
  -webkit-appearance: none;
  appearance: none;
  width: 3.8rem;
  height: 3.8rem;
  border: 0.1rem solid #B8B6BF;
  border-radius: 20px;
  cursor: pointer;
  display: grid;
  place-content: center;
}

.checkbox::before {
  content: "";
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #EA5E32;
  border: 0.3rem solid #FFCBBA;
  box-shadow: 0 0 4px 4px #FFCBBA;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
}

.checkbox:checked::before {
  transform: scale(1);
}

.radiobox {
  justify-self: end;
  -webkit-appearance: none;
  appearance: none;
  width: 3.8rem;
  height: 3.8rem;
  border: 0.1rem solid #B8B6BF;
  border-radius: 20px;
  cursor: pointer;
  display: grid;
  place-content: center;
}

.radiobox::before {
  content: "";
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #EA5E32;
  border: 0.3rem solid #FFCBBA;
  box-shadow: 0 0 4px 4px #FFCBBA;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
}

.radiobox:checked::before {
  transform: scale(1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 214px 1fr;
  gap: 3rem;
}

.header {
  background-color: #EA5E32;
  position: relative;
  display: grid;
}
.header__title {
  text-align: center;
  color: #ffffff;
}
.header__img {
  position: absolute;
  width: 20.3rem;
  height: 14.5rem;
  top: 10rem;
  right: 3rem;
}

.container {
  padding-left: calc(22px + 182 * (100vw - 375px) / 1225);
  padding-right: calc(22px + 182 * (100vw - 375px) / 1225);
  margin-bottom: 10rem;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}
.form__title {
  align-self: center;
  padding: 0 0 0 4.6rem;
}
.form__item {
  width: 100%;
  height: 4.4rem;
  padding: 1.2rem;
  border-radius: 1rem;
  border: 0.1rem solid;
  border-color: #B8B6BF;
  font-size: 1.6rem;
}
.form__item:focus {
  outline: none;
  border: 0.1rem solid #009745;
}
.form__item:focus:invalid {
  border: 0.1rem solid #EA5E32;
}
.form__item::placeholder {
  font-size: 1.7rem;
  color: #B8B6BF;
}
.form__box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.hobbies-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}

.checkbox-label {
  font-size: 1.7rem;
  display: grid;
  grid-template-columns: 60px 1fr;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  column-gap: 1rem;
  padding-top: 20px;
}

.form__item_income {
  cursor: pointer;
}

.radio-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  column-gap: 1rem;
}

.file-box {
  display: grid;
  grid-template-columns: 197px 1fr;
  grid-template-rows: 1fr;
  column-gap: 1rem;
}

.form__item_bio {
  width: 100%;
  height: 15.7rem;
  -webkit-appearance: none;
  outline: none;
}

@media (min-width: 1200px) {
  .header {
    justify-content: center;
    align-items: center;
  }
  .form {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "fname lname" "email email" "password con-password" "gender-box hobbies-box" "income sliderbox" "upld-profile age" "bio bio" "button button";
    column-gap: 40px;
  }
  .form__box_fname {
    grid-area: fname;
  }
  .form__box_lname {
    grid-area: lname;
  }
  .form__box_email {
    grid-area: email;
  }
  .form__box_password {
    grid-area: password;
  }
  .form__box_con-password {
    grid-area: con-password;
  }
  .form__box_income {
    grid-area: income;
    align-self: end;
  }
  .form__box_upld-profile {
    grid-area: upld-profile;
  }
  .form__box_age {
    grid-area: age;
  }
  .form__box_bio {
    grid-area: bio;
  }
  .gender-box {
    grid-area: gender-box;
  }
  .sliderbox {
    grid-template-columns: 1fr 100px;
    grid-template-rows: auto 1fr;
    row-gap: 20px;
    column-gap: 30px;
    grid-template-areas: "area area" "range value";
    grid-area: sliderbox;
  }
  .range {
    align-self: center;
  }
  .button {
    grid-area: button;
  }
  .header__img {
    width: 340px;
    height: 243px;
    top: 25px;
    right: 88px;
  }
}
@media (min-width: 1500px) {
  .hobbies-box {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-area: hobbies-box;
  }
}/*# sourceMappingURL=style.css.map */